.row
  .medium-8.columns
    / Post
    - @posts.each do |post|
      .post
        .post-badge.avatar.left
          = image_tag post.user.avatar.src
        .post-content
          %strong
            = "#{post.user.first_name} #{post.user.last_name}:"
          = post.content
          .post-links.text-right
            = link_to "Follow", follow_user_user_path(@user, post.user), method: :post
            = link_to "Reply", root_path
          .comments
            - post.comments.each do |comment|
              .comment-item
                %small
                  = "#{comment.content} -#{comment.user.first_name} #{comment.user.last_name}"

  / Nav Sidebar
  / This is source ordered to be pulled to the right on larger screens
  .friend-list.medium-4.columns
    %h4
      = "I am following:"
    - @subscriptions.each do |following|
      .user-entry
        .avatar-sm.left
          = image_tag following.avatar.src
        = " | #{following.first_name} #{following.last_name}"
    %h4
      = "Following me:"
    - @subscribers.each do |following|
      .user-entry
        .avatar-sm.left
          = image_tag following.avatar.src
        = " | #{following.first_name} #{following.last_name}"

/ Footer
%footer.row
  .large-12.columns
    %hr/
    .row
      .large-3.columns
        %p &copy; Copyright FUMBLR
      .large-5.columns
        %ul.inline-list.right
          %li
            %a{:href => "#"} Section 1
          %li
            %a{:href => "#"} Section 2
          %li
            %a{:href => "#"} Section 3
          %li
            %a{:href => "#"} Section 4
          %li
            %a{:href => "#"} Section 5
          %li
            %a{:href => "#"} Section 6
