%header
  %div.fixed.top-bar-wrapper
    %nav.top-bar{'data-topbar' => true, role:'navigation'}
      %ul.title-area
        %li.name
          %h1= link_to "fumblr.", root_path
        %li.toggle-topbar.menu-icon
          %a{href:"#"}
            %span menu
      %section.top-bar-section
        %ul.right
          %li
            -# TODO: direct to explore page once we have that completed
            = link_to "explore", root_path
          %li
            -# TODO: direct to profile page once we have that completed
            = link_to "profile", root_path
          - if user_signed_in?
            %li
              = link_to "logout", destroy_user_session_path, method: :delete
          - else
            %li
              = link_to "login", new_user_session_path
            %li
              = link_to "signup", new_user_registration_path
