!!!
%html
  %head
    %meta{charset: "ustf-8"}    
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : "fubmlr"
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'vendor/modernizr'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  -# Add flash messages for Devise
  %p.notice= notice
  %p.alert= alert
  -# End of flash messages for Devise

  -# Render the header
  = render 'layouts/header'

  -# Render the body
  %body
    = yield
