!!!
%html
  %head
    %title Team2
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  -# Add flash messages for Devise
  %p.notice= notice
  %p.alert= alert
  -# End of flash messages for Devise
  %body
    = yield
